<!DOCTYPE html>
<html>

<body>

	<div style="margin-top: 80px;">
		<div class="container">
			<div class="row">
				<div class="tab-content" id="nav-tabContent">
					<div class="flex" style="width:1200px">
						<div class="row-cols-1 row-cols-md-3 g-4">
							<div style="width:600px;margin:10px;border-radius:20px;height:600px" class="card">
								<div style=" font-size:30px; text-align:center" class="container">重設密碼確認</div>
								<hr>
								<p style=" font-size:14px;padding:1.25rem 1.25rem 0rem 1.25rem">${account}
									您好，如您最近有申請重設密碼，請點選以下網址以重設您的密碼</p>
								<p style=" font-size:14px;padding:1.25rem 1.25rem 0rem 1.25rem"><a
										href="http://localhost:8081/reset-password/${account}">http://localhost:8081/reset-password/${account}</a>
								</p>
								<br>
								<p style=" font-size:14px;padding:1.25rem 1.25rem 0rem 1.25rem">如果沒有申請重設密碼則請忽略此郵件，謝謝。
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>