<!DOCTYPE html>
<html>

<body>

	<div style="margin-top: 80px;">
		<div class="container">
			<div class="row">
				<div class="tab-content" id="nav-tabContent">
					<div class="flex" style="width:1200px">
						<div class="row-cols-1 row-cols-md-3 g-4">
							<div style="width:600px;margin:10px;border-radius:20px;height:600px" class="card">
								<div style=" font-size:30px; text-align:center" class="container">募資審核通過</div>
								<hr>
								<p style=" font-size:14px;padding:1.25rem 1.25rem 0rem 1.25rem">${account}
									您好，您的募資提案已通過管理員審核，請<a href='http://localhost:8080/front_raisedetail/${raiseNo}'>點此</a>以查看您的提案。</p>
								<p style=" font-size:14px;padding:1.25rem 1.25rem 0rem 1.25rem">如有任何問題，歡迎與我們聯繫。
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>